@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white-space: 10px;
    --gap-8: 8px;
    --primary-color: white;
    --bgcolor: #4b4070;
    --text-color: black;
    --border-light: 1px solid lightgray;
    --border-black: 1px solid black;
}

/* Reset e configurações gerais */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    overflow: hidden;
}

body {
    height: 100dvh;
    display: grid;
    place-items: center;
    padding: var(--white-space);
    background-color: var(--bgcolor);
}

/* Layout principal */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: var(--white-space);
}

header {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: var(--white-space);
    gap: var(--white-space);
}

main {
    width: 80%;
    height: 100%;
    padding: var(--white-space);
    display: flex;
    flex-direction: column;
    gap: var(--white-space);
}

/* Componentes base */
.profile,
.menu {
    width: 100%;
    height: 50%;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: var(--white-space);
}

/* Profile */
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--white-space);
    text-align: center;
    position: relative;
}

.profile a {
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--text-color);
}

.profile h2 {
    font-size: 1.2em;
    font-weight: normal;
}

.profile img {
    width: 150px;
    object-fit: contain;
    border-radius: 50%;
    border: 2px dashed var(--text-color);
}

.profile .status {
    position: absolute;
    z-index: 2;
    top: var(--white-space);
    left: var(--white-space);
    padding: var(--white-space);
    background-color: var(--primary-color);
    border: var(--border-black);
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: var(--white-space);
    font-size: .75em;
    overflow: visible;
}

.profile .status i {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lightgreen;
    margin-top: 1px;
    padding: 1px;
    border: var(--border-black);
}

/* Menu */
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.menu-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: var(--white-space);
    width: 100%;
    height: calc(100% / 5);
    border-bottom: var(--border-light);
    padding: var(--white-space);
    color: var(--text-color);
}

.menu-item:active {
    background-color: var(--bgcolor);
}

.menu-item:hover {
    color: var(--bgcolor);
}

.menu-item:first-child {
    border-top-left-radius: var(--white-space);
    border-top-right-radius: var(--white-space);
}

.menu-item:last-child {
    border-bottom-left-radius: var(--white-space);
    border-bottom-right-radius: var(--white-space);
    border-bottom: none;
}

/* Seções */
.section-wrapper {
    height: 90%;
    width: 100%;
    border-radius: var(--white-space);
    background-color: var(--primary-color);
    scroll-behavior: smooth;
}

.section {
    width: 100%;
    height: 90dvh;
    color: var(--text-color);
}

.section h2 {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 25px;
    border-bottom: var(--border-light);
}

.section h2 i {
    font-size: 1.4em;
}

.section h2 p {
    font-size: .7em;
    font-weight: normal;
}

/* Footer */
main footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--white-space);
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: var(--white-space);
}

.lang,
.theme {
    display: flex;
    padding: var(--white-space);
    align-items: center;
    justify-content: space-evenly;
    gap: var(--white-space);
}

.lang button,
.theme button {
    padding: var(--white-space);
    border-radius: 50%;
    border: 1px dashed var(--text-color);
}

.active-button {
    background-color: var(--bgcolor);
    color: var(--primary-color);
}

/* Items wrapper */
.itens-wrapper {
    width: 100%;
    height: 82%;
    padding: var(--gap-8);
    display: flex;
    align-items: center;
    gap: var(--gap-8);
}

.projects-section,
#skills .itens-wrapper .section {
    height: 100%;
    padding: var(--white-space);
    display: flex;
    flex-direction: column;
}

.section-title {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 1.4em;
}

/* Layout de duas colunas */
.projects,
.hard {
    width: 60%;
    border-right: var(--border-light);
}

.git,
.soft {
    width: 40%;
}

/* Cards wrapper */
.cards-wrapper,
#skills .itens-wrapper .section .cards-wrapper {
    height: 90%;
    width: 100%;
    padding: var(--white-space);
    display: flex;
    gap: var(--gap-8);
}

.cards-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#skills .itens-wrapper .section .cards-wrapper {
    flex-wrap: wrap;
    gap: var(--white-space);
    overflow-y: auto;
}

.soft .cards-wrapper {
    flex-direction: column;
    gap: var(--white-space);
    overflow-y: auto;
}

/* Cards base */
.card {
    padding: var(--gap-8);
    display: flex;
    align-items: center;
    gap: var(--gap-8);
    border-radius: var(--white-space);
    border: var(--border-light);
    transition: all .2s;
}

.hard-card,
.soft-card {
    cursor: pointer;
    user-select: none;
    border: var(--border-light);
    transition: all .2s;
}

/* Project cards */
.card img {
    width: 20%;
    height: 100%;
    object-fit: contain;
}

.card .desc {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card .desc h3 {
    font-size: 1em;
}

.card .desc p {
    font-size: 0.8em;
    width: 100%;
    text-align: justify;
}

/* Stacks */
.stacks {
    display: flex;
    width: 100%;
    align-items: center;
    gap: var(--gap-8);
}

.stacks span {
    border: var(--border-black);
    padding: 7px;
    color: var(--primary-color);
    background-color: var(--bgcolor);
    font-size: 0.8em;
    border-radius: var(--white-space);
    display: flex;
    align-items: center;
    gap: 7.5px;
    cursor: pointer;
}

.stacks span img {
    width: 15px;
    object-fit: contain;
    filter: invert(100%);
}

/* Links */
.links {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.links a {
    color: var(--text-color);
}

.links a i {
    font-size: 1.5em;
}

/* Hard cards */
.hard-card {
    width: calc((100% / 4) - 20px);
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.card:hover,
.hard-card:hover {
    box-shadow: 10px 10px 0px black;
    transform: translateX(-10px) translateY(-10px);
}

.hard-card h4 {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hard-card img {
    width: 100%;
    object-fit: contain;
}

.hard-card progress {
    width: 100%;
    padding: var(--white-space);
}

/* Soft cards */
.soft-card {
    width: 100%;
    padding: var(--white-space);
    border-radius: var(--white-space);
    display: flex;
    align-items: center;
}

.soft-card:hover {
    box-shadow: -10px 0px 0px black;
    transform: translateX(10px);
}