@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
    overflow: hidden;
}

:root {
    --white-space: 10px;
    --primary-color: white;
    --bgcolor: #4b4070;
}

body {
    height: 100dvh;
    display: grid;
    place-items: center;
    padding: var(--white-space);
    background-color: var(--bgcolor);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 10px;
}

header {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: var(--white-space);
    gap: 10px;
}

.profile,
.menu {
    width: 100%;
    height: 50%;
    background-color: var(--primary-color);
    color: black;
    border-radius: var(--white-space);
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: var(--white-space);
    text-align: center;
    position: relative;
}

.profile a {
    position: absolute;
    top: 15px;
    right: 15px;
    color: black;
}

.profile h2 {
    font-size: 1.2em;
    font-weight: normal;
}

.profile img {
    width: 150px;
    object-fit: contain;
    border-radius: 50%;
    border: 2px dashed black;
}

.profile .status {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 10px;
    padding: var(--white-space);
    background-color: white;
    border: 1px solid black;
    border-radius: 25px;
    margin-top: var(--white-space);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: var(--white-space);
    font-size: .75em;
    overflow: visible;
}

.profile .status i {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: lightgreen;
    margin-top: 1px;
    padding: 1px;
    border: 1px solid black;
}

.profile .emote {
    position: absolute;
    z-index: 2;
    background-color: white;
    padding: var(--white-space);
    border: 1px solid black;
    border-radius: 50%;
    margin-left: 75px;
    margin-top: var(--white-space);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.menu-item {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: var(--white-space);
    width: 100%;
    height: calc(100% / 5);
    border-bottom: 1px solid lightgray;
    padding: var(--white-space);
    color: black;
}

.menu-item:active {
    background-color: var(--bgcolor);
    color: black;
}

.menu-item:hover {
    color: #567c88;
}

.menu-item:first-child {
    border-top-left-radius: var(--white-space);
    border-top-right-radius: var(--white-space);
}

.menu-item:last-child {
    border-bottom-left-radius: var(--white-space);
    border-bottom-right-radius: var(--white-space);
    border-bottom: none;
}

main {
    width: 80%;
    height: 100%;
    padding: var(--white-space);
    display: flex;
    flex-direction: column;
    gap: var(--white-space);
}

.section-wrapper {
    height: 90%;
    width: 100%;
    border-radius: var(--white-space);
    background-color: var(--primary-color);
}

.section {
    width: 100%;
    height: 90dvh;
    border-bottom: 1px solid var(--bgcolor);
    color: black;
}

.section:last-child {
    border-bottom: none;
}

.section h2 {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 25px;
    border-bottom: var(--white-space) solid var(--bgcolor);
}

.section h2 p {
    font-size: .7em;
    font-weight: normal;
}

.section h2 span {
    width: var(--white-space);
    height: 100%;
    background-color: var(--bgcolor);
}

main footer {
    height: 10%;
    display: grid;
    place-items: center;
    background-color: var(--primary-color);
    color: black;
    border-radius: var(--white-space);
}


.itens-wrapper {
    width: 100%;
    height: 82%;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.itens-wrapper .projects-section {
    height: 100%;
    padding: var(--white-space);
    display: flex;
    flex-direction: column;
}

.itens-wrapper .projects-section .section-title {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    font-size: 1.4em;
}

.projects {
    width: 60%;
    border-right: 1px solid lightgray;
}

.git {
    width: 40%;
}

.cards-wrapper {
    height: 90%;
    width: 100%;
    padding: var(--white-space);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
}

.card {
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: var(--white-space);
    border: 1px solid lightgrey;
}


.card img {
    width: 20%;
    height: 100%;
    object-fit: contain;
}

.card .desc {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.card .desc h3 {
    font-size: 1em;
    border: none;
    height: auto;
    padding-left: none;
    display: initial;
}

.card .desc p {
    font-size: 0.8em;
    width: 100%;
    text-align: justify;
}

.stacks {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
}

.stacks span {
    border: 1px solid black;
    padding: 7px;
    color: white;
    background-color: var(--bgcolor);
    font-size: 0.8em;
    border-radius: var(--white-space);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 7.5px;
    cursor: pointer;
}


.stacks span img {
    width: 15px;
    object-fit: contain;
    filter: invert(100%);
}

.links {
    height: 100%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.links a {
    color: black;
}

.links a i {
    font-size: 1.5em;
}